.PurpleBG {
  width: 100%;
}
.BoxTitleContainer {
  background-color: $color-purple;
  position: absolute;
  z-index: 5;
  top: 5%;
  left: -35%;
}
.ContainerP {
  margin: 210px 50px 0px;
}
.BoxContent {
  border: 20px solid $color-green;
  background-color: white;
  width: 55%;
  margin: 150px auto 150px auto;

  position: relative;
  p {
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
  }
}
.BtnContainer {
  text-align: right;
  padding: 0 75px 25px;
}
.ContainerImg {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.TitleWork {
  position: absolute;
  right: 80px;
  bottom: 90px;
  background-color: $color-purple;
  background-position: -5%;

  .TitleWorkContainer {
    margin: 15px -10px -10px 15px;
  }
  h1 {
    color: $color-green;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "inter";
    line-height: 25px;
    margin: 0;
  }
  p {
    color: $color-green;
    font-family: "inter";
    margin: 0;
  }
}
