.HeadTitle {
  color: white;
  font-size: 128px;
  text-transform: uppercase;
  font-family: "inter";
  font-weight: 900;
  margin: 0;
}
.SubTitle {
  color: $color-green;
  font-size: 128px;
  text-transform: uppercase;
  font-family: "inter";
  font-weight: 900;
  margin: 0;
}
